<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#" style="color:olive;">My Gallery</a>
    <div>
        <form action="{% url 'get_location' %}">
            <div style="float:left;"><textarea name="Location" cols=30 rows=1 class="mt-4"
                                               placeholder="Enter location or category"
                                               style="padding:10px;"></textarea>
            </div>
            <div style="float:left;"><input class="mb-2 btn btn-primary" type="submit" value="Search"
                                            style="height:45px;margin-top:25px;"/></div>
        </form>
    </div>
</nav>