{% extends 'base.html' %}
{% block content %}
{{ block.super }}
<script>
    function CopyFun(link) {
        var copyText = document.getElementById(link);
        copyText.select();
        document.execCommand("copy");
        alert("Text has been copied: " + copyText.value);
    }
</script>

<div class="container" style='color:#ffff;font-family: fantasy;'>
    <div class="row">

                {% for image in images %}
                    <div class="col-md-3">
                    <a data-fancybox href="{{ image.image.url }}"
                       data-caption="<p>{{ image.image_description }}</p> <button type='button' class='btn btn-primary' onclick=CopyFun('{{ image.id }}') name='button' >Copy Link</button>">
                        <img src=" {{ image.image.url }}" alt=" massive image" style='width:100%;height: 80%;'>
                    </a>
                    <div><h4>Category:{{ image.image_category}}</h4></div>
                    <div><h4>Taken in {{ image.image_location}} area</h4></div>
                    </div>
                {% endfor %}


    </div>
</div>
{% endblock %}
